@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*,
**,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /* display: flex;
    flex-direction: column; */
    letter-spacing: 0.2px;
    line-height: 1.5;
    word-spacing: 0.8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 0px ;
    min-height: 100vh;
}

.texte-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.grid{
    margin: 0 auto;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

div{
    display: block;
}


.grid .wrapper-logo {
    margin: 2.5em 0;
    padding: 0 2em;
}

.grid .wrapper-logo img {
    width: 7em;
    display: block;
}

.grid .wrapper-hero picture img{
    width: 100%;
}

.grid .wrapper-texte{
    background: border-box hsl(0, 100%, 98%);
    padding: 2.5em 3em 5em;
    /* margin: 30px; */
}

.grid .wrapper-texte  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 10px;
    line-height: 1.1;
}

.grid .wrapper-texte h2 span:first-child{
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  /* font-size: 3em; */
}


.grid .wrapper-texte h2 span:last-child{
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

.grid .wrapper-texte > p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 36%, 70%);
}

.grid .wrapper-texte form {
    margin-top: 4em;
}

.grid .wrapper-texte form div {
    flex: 1;
    margin: 0;
    position: relative;
}

.grid .wrapper-texte form input {
    padding: 1.2em 1.5em;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    outline: none;
    color: hsl(0, 6%, 24%);
    font-weight: 400;
    width: 85.5%;
}

.grid .wrapper-texte .text-error {
    /* display: none; */
    margin: 0;
    margin-top: 0.5rem !important;
    margin-left: 1rem;
    text-align: left;
    color: rgb(236, 20, 20) !important;
      
}

.grid .wrapper-texte .icon-error {
    display: none;
    position: absolute;
    top: 50%;
    right: 8rem;
    transform: translateY(-50%);
}

.grid .wrapper-texte form button {
    width: 5.3em;
    height: 3.6em;
    text-align: center;
    border: 0;
    padding: 0;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) 20%);
    border-radius: 50px;
    box-shadow: 0 6px 13px hsl(0deg 36% 70% / 50%);
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width : 800px ){
    body {
        background-image: url("./images/bg-pattern-desktop.svg") ; 
        background-color: hsl(0, 100%, 98%);
    }

    .grid{
        display: grid;
        max-width: initial;
        grid-template-areas:
            ". logo padding hero"
            ". texte padding hero";
        grid-template-columns: auto 33% 15% 42%;
        grid-template-rows: min-content 1fr;
        
    }

    .grid .wrapper-logo{
        grid-area: logo;
        margin: 6.5em 0;
        padding: 0;
    }

    .grid .wrapper-logo img{
        width: initial;
    } 

    .grid .wrapper-hero{
        grid-area: hero;
    }

    .grid .wrapper-texte{
        grid-area: texte;
        padding: 0;
        
    }

    .grid .wrapper-texte h2 {
        font-size: 3rem;
        text-align: initial;
    }

    .grid .wrapper-texte > p{
        text-align: initial;
    }

    .grid .wrapper-texte form input {
        padding: 1.4em;
        width: 91%;
    }

    .grid .wrapper-texte form button {
        width: 8.5em;
        height: 4.1em;
        padding: 1.4em;
        margin-right: 1px;
    }
        /* Button Active */

    .grid .wrapper-texte form button:hover {
        cursor: pointer;
        background: hsl(0deg 61% 88%);
    }

    .grid .wrapper-texte .icon-error.active {
        right: 11em;
        top: 1.5em;
    }
}

@media screen and (min-width : 900px ){
    .grid .wrapper-texte form button {
        margin-right: -0.5em;
    }

    .grid .wrapper-hero picture img{
        width: 0%;
    }
}

@media screen and (min-width : 600px ){
    .grid .wrapper-texte form button {
        margin-right: -0.5em;
    }
}
